<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NSLP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <hr/>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredients">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Ingredients
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipes">
                <span class="oi oi-list" aria-hidden="true"></span> Recipes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="production">
                <span class="oi oi-cart" aria-hidden="true"></span> Production
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchasing">
                <span class="oi oi-dollar" aria-hidden="true"></span> Purchasing
            </NavLink>
        </div>

        <hr/>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docs">
                <span class="oi oi-file" aria-hidden="true"></span> Docs
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
